html,body,#app{
  height:100%;
  margin:0px;
  position: relative;
}

#main{
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  input{
    text-align: center;
    font-size: 20px;
    width: 150px;
  }
  .btn{
    padding: 8px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
  }
  #log-box{
    display:inline-block;
    position:absolute;
    margin:0px 50px;
    width:380px;
    border:1px solid black;
    h2{
      width: 100%;
      border-bottom: 1px solid black;
      margin-bottom: 5px;
      padding: 5px 0px;
    }
    #log-wrapper{
      height: 200px;
      overflow-x: hidden;
      overflow-y: auto;
    }
    .log{
      padding:5px 10px;
      border-bottom: 1px solid black;
      &:nth-child(n+7){
        &:last-child{
          border-bottom: none;
        }
      }
    }
  }
}

h1,h2,h3,h4,h5,h6{
  display: inline-block;
  margin:0px;
}
